<!DOCTYPE html>
  <html lang="ja">

    <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <title>jqueryのajaxサンプル</title>

    </head>

    <body>

      <form id="login" action="/login" method="post">
        <input type="submit" value="login"><br />
        アカウント名<br />
        <input type="text" name="account"><br />
        パスワード<br />
        <input type="password" name="password">
      </form>

      <br />

      <a href="https://github.com/login/oauth/authorize?client_id=8cced7edd0c590826773">
        Login with github
      </a>

    </body>
</html>
